.shell {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0;
}
.card {
    align-self: center;
    width: 50%;
    display: flex;
    margin-top: 10px;
    :hover {
        cursor: pointer;
    }
}
.content {
    display: flex;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

mat-paginator {
    width: 50%;
    align-self: center;
    margin-top: 10px;
}