.home-link:hover {
  cursor: pointer;
}
mat-toolbar {
  position: sticky;
  top:0;
  z-index: 5;
}
mat-toolbar-row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 40px;
}
.baseball {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
