span:hover {
  cursor: pointer;
}

mat-toolbar-row {
  height: 96px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px 40px;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
