<mat-toolbar color="#5e72e4">
  <mat-toolbar-row>
    <span routerLink="/home" class="home-link">Home</span>
    <div class = "baseball">
      <button mat-flat-button routerLink="users">Search</button>
      <button mat-flat-button routerLink="create-blog-entry">Create Post</button>
      <button mat-flat-button (click)="navigateTo('update-profile')">Your account</button>
    </div>
    <mat-form-field name="loginRegisterDropdown">
      <mat-label>Login</mat-label>
      <mat-select>
        <mat-option (click)="navigateTo('login')">Login</mat-option>
        <mat-option (click)="navigateTo('register')">Register</mat-option>
        <mat-option (click)="logout()">Logout</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>