span:hover {
  cursor: pointer;
}

.mat-toolbar {
  min-height: 10vh;
}
mat-toolbar-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  height: 100%;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}