.mat-card {
    border-radius: 0px;
}

mat-card {
    width: 90%;
    align-self: center;
}

.search {
    height: 50px;
    font-size: 1.5em;
    width: 92%;
    align-self: center;
    margin-bottom: 20px;
}
header {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    width: 100%;
}
.title {
    align-self: center;
    position: relative;
    left: -200px;
}

.description {
    align-self: center;
    width: 50%;
}

a {
    text-decoration: none;
    color: rgb(21, 142, 182);
}

a:visited {
    color: rgb(21, 142, 182);
}

a:hover {
    color:rgb(121, 46, 192);
}