<header>
    <div class="pageTitle">
        <div class="title">
            <h1>Teachers</h1>
        </div>
        <div class="description">
            <h3>
                This is a list of teachers that teach at 
                California State Fullerton. This list is based off
                of the Fall 2020 - Spring 2021 catalog.
            </h3>
        </div>
    </div>
</header>
<main>
<input name="searchInput" [(ngModel)]="searchInput" type="text" placeholder="Search for teachers" size="50"
class="search">
<mat-card *ngFor="let teacher of teacherList | searchFilter: searchInput">
    <a routerLink="/teachers/{{teacher.id}}">
        <h3>Professor {{teacher.name}}</h3>
    </a>
</mat-card>
</main>
<footer>
    <h4>Copyright Software Programming Group<br>
        This website was intended for the use of CSUF students.</h4>
</footer>