.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    width: 100%;
}
.title {
    align-self: center;
    position: relative;
    left: -200px;
}
.functionality {
    align-self: center;
    position: relative;
}
.description {
    align-self: center;
    width: 50%;
    position: relative;

}
.content-wrapper {
    display: flex;
    width: 100%;

}
main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px 20px;
}
aside {
    width: 30%;
    margin: 0px 20px;
    padding: 10px;
}

h1 {
    font-size: 3em;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.functionalitySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mat-card {
    border-radius: 0px;
}

.search {
    height: 50px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(21, 142, 182);
}

a:visited {
    color: rgb(21, 142, 182);
}

a:hover {
    color:rgb(121, 46, 192);
}