<header>
    <div class="pageTitle">
        <div class="title">
            <h1>Classes</h1>
        </div>
        <div class="description">
            <h3>
                These are a list of courses that are taught at 
                California State Fullerton. This list is based off
                of the Fall 2020 - Spring 2021 catalog.
            </h3>
        </div>
    </div>
</header>
<div class="content-wrapper">
<main>
    <input name="searchInput" [(ngModel)]="searchInput" type="text" placeholder="Search for classes" size="50"
    class="search">
    <mat-card *ngFor="let course of courseList | searchFilter: searchInput">
        <a routerLink="/courses/{{course.id}}">
            <h3>CPSC {{course.number}} - {{course.name}}</h3>
        </a>
    </mat-card>
</main>
<aside>
    <mat-card>
        <app-sort-chips></app-sort-chips>
        <router-outlet></router-outlet>
    </mat-card>
</aside>
</div>
<div class="pageTitle">
    <div class="functionality">
    <h1>Functionality</h1>
    </div>
    <div class="description">
    <h3>
        Currently, the search function will now display classes
        based on whatever is inputted in the search bar. If you
        were not completely sure about certain types of classes 
        that you wanted to look for, the chips on the right-hand 
        side of the screen will categorize the list of classes
        displayed above. Enjoy!
    </h3>
    </div>
</div>
<footer>
    <h4>Copyright Software Programming Group<br>
        This website was intended for the use of CSUF students.</h4>
</footer>