<p>
    This definitely works!
</p>
<div class="content-wrapper">
<main>
    <input name="searchInput" [(ngModel)]="searchInput" type="text" placeholder="Search for classes" size="50"
    class="search">
    <mat-card *ngFor="let course of courseList | searchFilter: searchInput">
        <a routerLink="/courses/{{course.id}}">
            <h3>CPSC {{course.number}} - {{course.name}}</h3>
        </a>
    </mat-card>
</main>
<aside>
    <mat-card>
        <app-sort-chips></app-sort-chips>
        <router-outlet></router-outlet>
    </mat-card>
</aside>
</div>