<head>
    <title>TheDocs | Your Account</title>
</head>
<div>
    <header>
    </header>
    <div class="wrapper">
        <main>
            <mat-card *ngIf="(user$ | async) as user">
                <app-all-blog-entries [blogEntries]="(blogEntries$ | async)" (paginate)="onPaginateChange($event)">
                </app-all-blog-entries>
            </mat-card>
        </main>
        <aside>                
            <mat-card class="container">
            <form [formGroup]="form" (ngSubmit)="update()">
                    <div class="profile_pic">
                        <mat-card>
                            <mat-card-content>
                                <img *ngIf="form.get('profileImage').value"
                                    src="{{origin}}/api/users/profile-image/{{form.get('profileImage').value}}">
                                <ul>
                                    <li>
                                        <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                                    </li>
                                </ul>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" (click)="onClick()">
                                    <small>Upload image</small>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                        <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*"
                            style="display:none;">
                    </div>
                    <div class="info_container">
                        <mat-form-field class="user_info">
                            <input matInput placeholder="ID" formControlName="id">
                        </mat-form-field>
                        <mat-form-field class="user_info">
                            <input matInput placeholder="Name" formControlName="name">
                        </mat-form-field>
                        <mat-form-field class="user_info">
                            <input matInput placeholder="Username" formControlName="username">
                        </mat-form-field>
                    </div>
                    <div class="update_button">
                        <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Update
                            Profile</button>
                    </div>
                </form>
            </mat-card>
            <mat-card class="container">
                <mat-card-header>
                    <mat-card-title>
                        <app-tags></app-tags>
                        <router-outlet></router-outlet>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </aside>
    </div>
    <footer>
        <h4>Copyright Software Programming Group<br>
            This website was intended for the use of CSUF students.</h4>
    </footer>
</div>