


    <head>
        <meta charset="utf-8">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://TheDocs.com/">
        <meta property="og:site_name" content="TheDocs">
        <meta property="og:keywords" content="TheDocs, CSUF, CSUF chat, CSUF learning, CSUF tutorials">
        <!-- End of meta section-->
        <title>TheDocs | Homepage</title>
        <link rel="stylesheet" href="home.component.scss">
    </head>

    <body>
        <header>
            <div class="searchBar">
                <form action="search.html">
                    <input class="search_text" type="search" name="search" />
                    <button mat-raised-button routerLink="users">Search</button>
                </form>
            </div>
        </header>
        <main>
            <h1 class="welcome">Welcome to TheDocs!</h1>
            <div class="words">
            <p>These website is designed to help computer science students in CSUF.</p>
            <ol>Here is a list of all the features that are currently working:
                <li>The toolbar at the top of everypage</li>
                <li>The search button leads to all posts avaiable</li>
                <li>You can update your account with a profile picture, full name, and username</li>
                <li>You are able to log into your account with your email and password</li>
                <li>You can register an account using your name, username, password, and email</li>
                <li>You can create a post by uploading an image with a title, commitments, and your name</li>
            </ol>
            </div>
            <app-all-blog-entries [blogEntries]="(blogEntries$ | async)" (paginate)="onPaginateChange($event)">
            </app-all-blog-entries>
        </main>
        <footer>
            <h4>Copyright Software Programming Group<br>
                This website was intended for the use of CSUF students.</h4>
        </footer>

    </body>



