    <head>
        <title>TheDocs | Homepage</title>
    </head>

    <body>
        <header>
            <h1 class="welcome">Welcome to TheDocs!</h1>
            <h3>
                Are you struggling?<br>
                We can help!
            </h3>
            <h3>
                This website is designed to help computer science students 
                in California State Unversity of Fullerton.
            </h3>
            
        </header>
        <main>
            <app-all-blog-entries [blogEntries]="(blogEntries$ | async)" (paginate)="onPaginateChange($event)">
            </app-all-blog-entries>
        </main>
        <footer>
            <h4>Copyright Software Programming Group<br>
                This website was intended for the use of CSUF students.</h4>
        </footer>
</body>



