*, **, *::before, *::after {
    box-sizing: border-box;
    
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: auto;
}
.taco {
    background: linear-gradient(180deg, #525f7fcb 40%, #f8f9fe83 80%);
}
.posts {
    height: 800px;
    width: 100%;
    display: flex;
}
body {
    height: auto;
    display:grid;
    grid-template-rows: auto auto auto;
    margin: 0px;
    color: whitesmoke;
}

header {
    grid-row: 1;
    display: grid;
    align-items: center;
    padding: 100px 40px 0 40px;
}
.searchBar {
    display: flex;
    justify-self: center;
}
form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: right;
    align-items: center;
    gap: 0 20px;
}
.search_text {
    display: grid;
    grid-column: 1 / span 4;
    width: 500px;
    height: 50px;
    font-size: 25px;
}
.search_submit {
    display: grid;
    grid-column: 5;
    justify-self: start;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
main {
    display:grid;
    grid-row: 2;
    padding: 50px 100px;
}
.welcome {
    margin: 16px;
    padding:2rem;
    font-size: 3rem;
    align-self: center;
    text-align: center;
}
footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.plain {
    text-decoration: none;
    color: whitesmoke;
}
h4 {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.posts {
    display: block;
    justify-content: left;
    align-content: end;
}
#videoBG {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}
@media (max-width:767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
}