.taco {
    background: linear-gradient(180deg, #525f7fcb 40%, #f8f9fe83 80%);
}
body {
    display:flex;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    margin: 0px;
    color: whitesmoke;
}

header {
    grid-row: 1;
    display: grid;
    align-items: center;
    padding: 100px 40px 0 40px;
}
.searchBar {
    display: flex;
    justify-self: center;
}
form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: right;
    align-items: center;
    gap: 0 20px;
}
.search_text {
    display: grid;
    grid-column: 1 / span 4;
    width: 500px;
    height: 50px;
    font-size: 25px;
}
.search_submit {
    display: grid;
    grid-column: 5;
    justify-self: start;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
main {
    display:grid;
    grid-row: 2;
    padding: 50px 100px;
}
.welcome {
    margin: 16px;
    padding:2rem;
    font-size: 3rem;
    align-self: center;
    text-align: center;
}
footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.plain {
    text-decoration: none;
    color: whitesmoke;
}
h4 {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
#videoBG {
    position: fixed;
    z-index: -1;
}
