<!DOCTYPE html>
<html lang="en-US">
<div class="taco">

    <head>
        <meta charset="utf-8">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://TheDocs.com/">
        <meta property="og:site_name" content="TheDocs">
        <meta property="og:keywords" content="TheDocs, CSUF, CSUF chat, CSUF learning, CSUF tutorials">
        <!-- End of meta section-->
        <title>TheDocs | Homepage</title>
        <link rel="stylesheet" href="home.component.scss">
        <link rel="videoBG" href="https://github.com/primary-byte/CPSC-362/blob/master/frontend/src/assets/video.mp4">
    </head>

    <video id="videoBG" poster="assets\poster.jpg" autoplay muted loop>
        <source src="assets\video.mp4" type="video/mp4">
    </video>

    <body>

        <header>
            <div class="searchBar">
                <form action="search.html">
                    <input class="search_text" type="search" name="search" />
                    <button mat-raised-button routerLink="users">Search</button>
                </form>
            </div>
        </header>
        <main>

            <h1 class="welcome">Welcome to TheDocs!</h1>
            <p>These website is designed to help computer science students in CSUF.</p>
            <ol>Here is a list of all the features that are currently working:
                <li>The logo in the top left corner</li>
                <li>The links for all of the buttons in the Navigation bar</li>
                <li>The Log in button in the top right corner</li>
                <li>The homepage itself is functional</li>
                <li>The log in page is now functional</li>
                <li>The create account page is now functional</li>
            </ol>

            <app-all-blog-entries [blogEntries]="(blogEntries$ | async)" (paginate)="onPaginateChange($event)">
            </app-all-blog-entries>
        </main>
        <footer>
            <h4>Copyright Software Programming Group<br>
                This website was intended for the use of CSUF students.</h4>
        </footer>

    </body>
</div>
</html>


