
//  code added from Nathan's login page
body {
    display: grid;
    margin: 0px;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(180deg, #525f7f 40%, #ffffff 80%);
}
header {
    grid-row: 1;
}
main {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}
.container > * {
    width: 75%;
}
.login_box {
    justify-content: center;
    text-align: right;
    background: white;
    height: 500px;
    width: 400px;
    border-radius: 5%;
}
form {
    height:auto;
    width: auto;
    text-align: left;
    padding: 30px 0;
}
input {
    height: 2rem;
}
footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px;
}
.plain {
    text-decoration: none;
}
h4 {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
