.header-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    left: 35%;
}

.card {
    width: 70%;
    max-width: 70%;
    margin-top: 2%;
}

.main-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
body {
    background-image: radial-gradient( circle farthest-corner at 1.5% 1.4%,  rgba(159,227,255,1) 0%, rgba(255,177,219,1) 100.2% );
}