.content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80vh;
}
main {
    width: 70%;
}
app-all-blog-entries {
    display: flex;
    justify-content: center;
    margin: 0;
}

aside {
    width: 30%;
    padding: 10px;
    align-self: flex-start;
    justify-content: center;
    position: relative;
    top: 200px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
}

h3 {
    justify-content: center;
}

button {
    height: 80px;
    width: 90%;
    font-size: 2.5em;
}

.thoughtsTitle {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.title, .description {
    align-self: center;
    width: 80%;
}

mat-card.user-thoughts {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.user-title {
    text-align: center;
    align-self: flex-start;
    width: 60%;
}

.all-user-thoughts {
    display: flex;
    justify-content: center;
}