.content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}
main {
    width: 70%;
}
app-all-blog-entries {
    display: flex;
    justify-content: center;
    margin: 0;
}

aside {
    width: 30%;
    padding: 10px;
    align-self: flex-start;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    justify-content: center;
}